@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}

body {
  font-family: Outfit, sans-serif;
  background-color: #f9fafb;
  color: #101828;
}

html.dark body {
  background-color: #101828;
  color: #f9fafb;
}

button:not(:disabled),
[role="button"]:not(:disabled) {
  cursor: pointer;
}
